<mat-card>
  <mat-card-header>
    <mat-card-title>
      Profile
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <ng-container *ngIf="(profile$ | async) as profile; else elseTemplate">
      <pre>
                {{ profile | json }}
            </pre
      >
    </ng-container>
    <ng-template #elseTemplate> No profile </ng-template>
  </mat-card-content>
</mat-card>
