<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Recipe name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            class="form-control"
            ngModel
            name="description"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7" >
          <label for="link">Link to Photo</label>
          <input
            type="text"
            id="link"
            class="form-control"
            name="imagePath"
          ngModel
          >
        </div>
      </div>
        <!--<div class="row">-->
          <!--<div class="col-xs-7">-->
            <!--<label for="ingredients">Ingredients</label>-->
           <!--<table class="table form-group" id="ingredients">-->
        <!--<thead>-->
        <!--<tr>-->

          <!--<th>Name</th>-->
          <!--<th>Amonut</th>-->
          <!--<th></th>-->
        <!--</tr>-->
        <!--</thead>-->
         <!--<tbody #tableBody>-->
         <!--<tr >-->

           <!--<td><input class="form-control" type="text"></td>-->
           <!--<td><input class="form-control" type="number"></td>-->
           <!--<td> <button type="button"  class="form-control glyphicon glyphicon-plus" (click)="onRowAdd()">-->
           <!--</button>-->
           <!--</td>-->
         <!--</tr>-->
         <!--</tbody>-->
       <!--</table>-->
    <!--</div>-->

        <!--<div class="col-sm-5 form-group">-->
          <!--<table></table>-->
          <!--<label for="ingredients">Ingredients</label>-->
          <!--<input-->
            <!--type="text"-->
            <!--id="ingredients"-->
            <!--class="form-control"-->
            <!--ngModel-->
            <!--name="name"-->
          <!--&gt;-->
          <!--<input type="button" class="btn btn-l" id="addIngredient" value="Add ingredient" />-->
        <!--</div>-->

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddRecipe()">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
